img{
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    -ms-border-radius: 500px;
    -o-border-radius: 500px;
}
main{
    max-width: 400px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0)
}
p{
    text-size-adjust: 200px;
}